.center {
  --center-size: 900px;
}

.mx-auto {
  margin-inline: auto;
}

.abcjs-rest {
  display: none;
}

.piano-roll {
  align-self: center;
}

.result {
  color: white;
  padding: 0.5rlh;
  text-align: center;
}

.is-correct {
  --toast-background: green;
}

.is-incorrect {
  --toast-background: red;
}
